@font-face {
    font-family: 'tamamo-icon';  /* project id："189679" */
    src: url('//at.alicdn.com/t/font_1duesmv9ne6zuxr.eot');
    src: url('//at.alicdn.com/t/font_1duesmv9ne6zuxr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1duesmv9ne6zuxr.woff') format('woff'),
    url('//at.alicdn.com/t/font_1duesmv9ne6zuxr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1duesmv9ne6zuxr.svg#iconfont') format('svg');
}