#footer {
  display: flex;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem 0;
  a {
    display: block;
    flex: 1;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    &:last-child {
      border: none;
    }
  }
}