#meter {
	position: fixed;
	display: inline-block;
	right: 5%;
	bottom: 25%;
	text-align: center;
	border-radius: 50%;
	line-height: 2rem;
	color: #fff;
	font-size: 0.4rem;
	font-weight: 600;
	background: rgba(0, 0, 0, 0.2);
	width: 2rem;
	height: 2rem;
}